body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sublegend-color {
    width: 20px;
    border: 1px solid #666666;
    display: inline-block;
    fill-opacity: 0.3;
    opacity: 0.5;
}

.sublegend-item {
    padding-top: 0.2em;
}

.sublegend {
    list-style: none;
    padding-inline-start: 24px;
    margin-top: 0px;
}

.leaflet-control-layers {
    max-height: 600px;
    overflow: auto;
}

.infolink {
    font-weight: normal;
}

.infobutton {
    height: 1.1em;
}

.legendicon {
    height: 1.1em;
}